:root {
  --branding-color: #6c63ff;
  --hero-background: #f9f7fe;
  --button-hover: #a799c9;
  --p-color: #272142;
}

.main-body {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.logo {
  display: block;
  width: 60px;

}

p {
  font-family: 'Poppins', sans-serif;
  color: var(--p-color);
}

.navbar {
  position: fixed;
  margin-top: 0;
  width: 100%;
  background-color: var(--hero-background) !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.hero h1 {
  font-size: 96px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 0;
}

.hero h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  margin-top: 24px;
}

.hero {
  background-color: var(--hero-background);
  text-align: center;
  padding: 100px 40px;
  height: 750px;
}

.hero a {
  color: white;
  background-color: var(--branding-color);
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  transition: all 150ms ease-in-out;
}

.hero a:hover {
  background-color: var(--button-hover);
  color: white;
}

.in-between {
  margin-top: 120px;
  margin-bottom: 80px;
}

.sections .word-section {
  padding: 90px 40px;
}

.word-section p {
  line-height: 1.5;
  font-size: 16px;
}

.sections h2 {
  font-size: 64px;

}

.sections .view-more-btns {
  color: var(--branding-color);
  border: 1px solid #6c63ff;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.sections .view-more-btns:hover {
  background-color: #6c63ff;
  color: white;
}

.footer {
  text-align: center;
  background-color: var(--hero-background);
  border-radius: 20px;
  margin-top: 100px !important;
}

.footer p {
  font-size: 18px;
}

.footer a {
  color: white;
  background-color: var(--branding-color);
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  text-align: center;
  display: block;
  max-width: 200px;
  margin: 0 auto;
  transition: all 150ms ease-in-out;
}

.footer a:hover {
  background-color: #a799c9;
}

.footer-link {
  text-align: center;
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

.footer .heading {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
}


.main-footer {
  margin-top: 30px;
}

.email {
  font-size: 24px;
  text-decoration: none;
  color: black;

}

.email-div {
  text-align: center;
  font-weight: 500;
}

.icons {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icons i {
  text-align: center;
  font-size: 20px;
  background-color: var(--hero-background);
  border: 1px solid transparent;
  border-radius: 100%;
  color: var(--branding-color);
  margin: 15px;
  padding: 10px;
}

@media (max-width: 992px) {
  .footer-link {
    margin: 100px 0 90px 0;
  }
}

@media (max-width: 768px) {
  .footer-link {
    margin: 20px 0 50px 0;
  }
}

@media (max-width: 500px) {
  .main-body {
    margin: 0 !important;
  }


  .hero h1 {
    font-size: 44px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero p {
    font-size: 28px;
  }

  .hero {
    height: 500px;
  }

  .sections .word-section {

    margin: 0;
    padding: 20px 0;
    text-align: center;
  }

  .sections h2 {
    font-size: 45px;
    text-align: center;
  }

  .word-section p {
    line-height: 1.7;
  }

  .in-between {
    margin: 65px 20px 0;
    padding: 0 10px 20px;
  }

  .footer-link {
    margin: 10px 0 50px 0;
  }

  .footer .heading {
    font-size: 40px;
  }


}